{% extends 'base.html' %}


{% block content %}
<div class="dashboard-cards">
    <div class="row plain-element">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-push-2 col-md-push-2 col-lg-push-2 plain-element">
            <div class="row row-title">
                <div class="card card-title">
                    <div class="row row-blue">
                        <h1>Top 10 US Trends </h1>
                    </div>
                    <p><i class="far fa-clock"></i>&nbsp; NY Time - trends update every minute</p>

                </div>
            </div>
            <div class="row row-cards">


            </div>

        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-sm-pull-10 col-md-pull-10 col-lg-pull-10 col-lg-pull-10 plain-element" id="activeTrendsColumn">
            <div class="row plain-element">
                <div class="card card-side card-side-left">
                    <div class="row row-side-blue"></div>
                    <div class="row row-description">
                        <div class="col-sm-4 col-md-4 plain-element text-center hashtag-column">
                            <i class="fas fa-hashtag hashtag-icon"></i>
                        </div>
                        <div class="col-sm-8 col-md-8 plain-element">
                            <h1>Popular Hashtags</h1>
                            <p> Most Tweets last 24h</p>
                        </div>
                    </div>
                    <div class="row plain-element">
                        <div class="card-content" id="mostTweets"></div>
                    </div>
                    <div class="row row-break"></div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}


